.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    width: 50%;
}

#task-status{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.checked{
    text-decoration: line-through;
}